/* Global Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Start Page */
#start-page {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

/* Grid Container */
#grid-container {
    display: grid;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #bdbdbd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    gap: 5px; /* Adds space between cells */
    width: max-content; /* Ensures the grid container adjusts to the size of cells */
    box-sizing: border-box;
}

/* Cell Styles */
.cell {
    width: 50px;
    height: 50px;
    background-color: grey;
    cursor: pointer;
    border: 1px solid #888; /* Grey border between cells */
    transition: background-color 0.3s, transform 0.15s; /* Reduced transform duration */
}

.cell:hover {
    transform: scale(1.05); /* Reduced enlarge effect on hover */
}

.cell.green {
    background-color: rgb(5, 181, 5);
}

/* Button Styles */
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Move Counter and Level Display */
#move-counter {
    font-size: 18px;
    color: #555;
}

#level-display {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
